<div class="well">
	<h2>Edicion de Evento</h2>

	<%= render 'form' %>
	<hr>
	<%= link_to 'Ver', @event, class: "btn btn-info" %> |
	<%= link_to 'Atrás', events_path, class: "btn btn-success" %>
</div>
