<div class="get-started center wow fadeInDown">
                <h2>Mercodental SRL</h2>
                <p class="lead">Empresa paraguaya dedicada a la comercialización, importación y distribución de insumos de ortodoncia, representante exclusivo de la marca <%= link_to "Forestadent", "http://www.forestadent.com/" %> en Paraguay, cuyo lema es <h4>"Precisión Alemana en Ortodoncia".</h4></p>
                <div class="request">
                    <h4><a href="http://www.forestadent.com/forestadent-es/" target="_blank">Ingrese a Forestadent</a></h4>
                </div>
</div><!--/.get-started-->


<div class="get-started center wow fadeInDown">
    <p class="lead">Ponemos hoy a su alcance, una linea de productos donde se fusionan:</p>
	<p>Calidad excepcional, presición y alta tecnología alemana, además de un grupo humano capacitado a su disposición</p>
	<p>Garantice el resultado óptimo, rápido y efectivo en su tratamiento de ortodoncia(Frenillos), eligiendo correctamente los materiales a utilizar durante el mismo.</p>
    <div class="request">
        <h4><a href="<%= products_path %>">Productos</a></h4>
    </div>
</div><!--/.get-started-->
