<div class="img jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contactanos <small>sus consultas son bienvenidas!</small></h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                
                
                    <%= render 'form' %>

                    
                    
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend>Nuestro Local</legend>
            <address>
                <strong>Mercodental SRL</strong><br>
                Itá Ybaté 504 esq. Centenario de la Epopeya Nacional<br>
            </address>
            </form>
            <hr>
            <!--
                <div class="text-center center-block">
                <p>Siguenos en:</p>
                <a href="https://www.facebook.com/forestadent.paraguay"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
                <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
                <a href="https://www.facebook.com/forestadent.paraguay"><i id="social" class="fa fa-instagram-square fa-3x social-fb"></i>aqui</a>
                
            </div>  -->

            <hr>
     </div>
</div>
</div>




    <hr>
<section class="no-margin">
    <iframe src="https://mapsengine.google.com/map/embed?mid=z4jxfKgpP2rw.khg8k_YoGLUk" width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</section>
